@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
/* abril,yeseva, libre barcode, chonburi, gravitas, LIMELIGHT  font */
:root{
  --white: #ffffff;
  --grey-bg: #e4e4e4;
  --dark-gray: #666;
  --black: #2a2a2a;
  --primary: #93c4e8;
  --danger: #d9534f;
  --peach: #ffa584;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
  /* background-color: var(--white); */
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  background-color: var(--white);
  font-size: 12px;
  letter-spacing: .15em;
  text-transform: uppercase;
}
.btn{
  border-radius: 0;
}
/* header */
/* company info */
.company-info{
  background-color: var(--danger);
  color:var(--white);
}
.company-info p{
  padding: 0;
  margin: 0;
}
.company-info p:nth-child(2){
  text-align: center;
}
.company-info p:nth-child(3){
  text-align: right;
}
/* end company info */

/* nav */
nav ul{
  background-color: transparent;
}

.navbar-toggler, 
.navbar-toggler:active, 
.navbar-toggler:focus{
  border:none;
  outline:none;
}
nav ul li a{
  color: var(--black) !important;
  font-size: 14px;
}
/* end nav */

/* jumbotron */
.jumbotron{
  height: 50vh;
  background-color: var(--white);
  /* background: linear-gradient(to right bottom,var(--white),var(--danger), var(--primary), var(--white)); */
  text-align: center;
  position: relative;
  border-radius: 0;
  margin-bottom: 0;
}
.jumbotron .headings{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.jumbotron h1, 
.jumbotron h3{
  color: var(--primary);
  margin: 0;
  padding: 0;
}
.jumbotron h1{
  font-size: 8vw;
}
.shop-btn{
  background-color: var(--primary);
  color: var(--white) !important;
  /* border: 1px solid var(--primary); */
  width: 10rem;
  margin-top: 3rem;
}
.shop-btn:hover{
  background-color: var(--white);
  color: var(--primary);
}
a.shop-btn{
  color: var(--primary);
  text-decoration: none;
}
/* end jumbotron */
/* end header */

/* main content */
/* products */
.products h2{
  margin-top: 2rem;
  text-align: center;
}
.card{
  /* background-color: var(--grey-bg); */
  border:none;
  border-radius: 10px;
}
.card-img-div{
  background-color: var(--grey-bg);
  width: 100%;
  height: 10rem;
}
/* end products */

/* about us */
.about h2{
  margin-top: 2rem;
  text-align: center;
}
.about .section-one-inner-div,
.about .about-break-inner-div{
  background-color: var(--grey-bg);
  width: 100%;
  height: 30vh;
}
.about .section-two div{
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about h1{
  font-family: "Nunito Sans";
}
.about .section-two div:nth-child(2), 
.about .section-two div:nth-child(3){
  background-color: var(--grey-bg);
}
.about .section-two div:nth-child(1), 
.about .section-two div:nth-child(4){
  /* background-color: var(--grey-bg); */
  padding: 1rem;
}
/* end about us */
/* end main content */

/* footer */
footer{
  padding: 2rem;
}
footer h5{
  font-weight: 300;
}
footer, footer a{
  background-color: var(--danger);
  color: var(--white);
}
footer a:hover{
  color: var(--white);
}
footer .social i{
  color: var(--white);
  padding: 1rem;
  margin: 1rem .25rem;
  font-size: 2rem;
}
/* end footer */

/* media queries */
@media screen and (max-width: 414px){
  body.container{
    padding: 0;
  }
  /* header */
  /* company info */
  .company-info p:nth-child(1){
  text-align: center;
  }
  .company-info p:nth-child(3){
    text-align: center;
  }
  /* end company info */
  /* jumbotron */
  .jumbotron{
    height: 60vh;
  }
  .jumbotron p a{
    margin-top: 1rem;
  }
  .jumbotron h1{
    font-size: 19vw;
  }
  /* end jumbotron */
  /* end header */
  /* about */
  .about .pr-2,
  .about .pl-2{
    padding:0 !important;
    margin: .5rem 0;
  }
  /* end about */
}
/* end media queries */
